button{
    border-radius: 12px;
    margin-bottom: 2%;
    margin-left: 2%;
    background-color: aqua;
    
}
input{
    border-radius: 12px;
    height: 29px;
    
}
.u{
place-content: center;
}
form{
    background-color: purple;
    margin-top: 2%;
    height: 38px;
    width: 280px;
   place-content: center;
    border-radius: 12px;
    margin-bottom: 2%;
}
